.combo {
  .ant-btn {
    margin: 15px 4px 25px !important;
    width: 60px !important;
    height: 24px !important;
    font-size: 12px !important;

    &:nth-child(1) {
      margin-left: 0 !important;
    }
  }

  .ant-btn-primary {
    background-color: #2b75c1 !important;
    border-color: #2b75c1 !important;
  }
}


.combo-section {
  margin-bottom: 25px;

  .combo-header {
    height: 35px;
    line-height: 35px;
    background: #ebebeb;
    color: #333;
    font-size: 14px;
    padding: 0 10px 0 20px;
    border: 1px solid #d0d0d0;
  }
  .combo-title {
    float: left;
    color: #2b75c1;
    margin-right: 40px;
  }

  .combo-select {
    float: left;
  }
  .combo-count {
    float: right;
    margin-right: 20px;
  }
  .combo-title-right {
    float: right;
    color: #2b75c1;
  }

  .ant-select-selection {
    background: #ebebeb !important;
    font-size: 14px !important;
    color: #333 !important;
    border: none !important;
    height: 28px !important;
  }

  .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
    border-color: transparent !important;
    box-shadow: none !important;
  }

  .combo-result-container {
    min-height: 145px;
    width: 100%;
    overflow-x: auto;
    > div {
      display: inline-block;
      white-space: nowrap;
    }
  }

  .combo-column {
    padding: 0 5px;
    min-height: 145px;
    text-align: center;
    display: table-cell;

    &:nth-child(odd) {
      background: #fff;
    }

    &:nth-child(even) {
      background: #f8f8f8;
    }
  }

  .combo-result {
    font-size: 12px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 22px;
    margin: 6px auto;

    &.blue {
      background: #daecff;
      color: #2b75c1;
    }

    &.gray {
      background: #dedede;
      color: #666;
    }

    &.red {
      background: #ffd4d3;
      color: #c82e2a;
    }
  }
}

.combo-desc {
  color: #666;
  font-size: 12px;
  line-height: 30px;
  margin-left: 30px;
}