.form-control {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;

  &.small-margin {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  &.right {
    float: right;
  }
  label {
    font-size: 12px;
    color: #666;
  }
}

.filter-group {
  margin-right: 30px;

  .ant-btn {
    font-size: 12px !important;
    color: #666 !important;
    border-color: transparent !important;
    margin-right: 5px !important;
  }

  .ant-btn:first-child:not(:last-child) {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }
  .ant-btn:last-child:not(:first-child) {
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
  }

  .ant-btn:hover, .ant-btn:focus {
    color: #2b75c1 !important;
    border-color: #2b75c1 !important;
  }
  .ant-btn.active{
    color: white !important;
    background: #2b75c1 !important;
    border-color: #2b75c1 !important;
  }
}